{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ encore_entry_link_tags('card') }}
	{{ encore_entry_link_tags('show') }}
{% endblock %}

{% block title %}
	{{ challenge.name }}
{% endblock %}

{% block body %}
	<a class="ms-5 d-flex gap-3 text-decoration-none text-secondary" href="{{ path('home') }}">
		<i class="bi bi-arrow-left fs-1"></i>
		<div class="align-self-center">
			<p class="arrowT m-0 fs-5">Retour aux challenges</p>
		</div>
	</a>

	<main class="mx-5">
		<div class="mb-3">
			<div class="d-flex justify-content-center align-items-center">
				<h1 class="text-light">
					{{ challenge.name }}
				</h1>
				<div id="tooltip" class="ms-3">
					<span id="tooltipText">{{ challenge.level.name }}</span>
					<span class="card-level-color" style="background-color: {{challenge.level.color}}"></span>
				</div>
			</div>
		</div>
		<div>
			<div class="d-flex justify-content-center align-items-center offset-lg-3 col-lg-6">

				<img
				src="{{ asset(challenge.image) }}" alt="">
			{# <img src="{{ vich_uploader_asset(project) }}" class="w-100" alt="{{ project.title }}"> #}
			</div>

			<div class="m-4 text-light text-center text-justify">
				<p>{{ challenge.catchPhrase|raw }}</p>
			</div>
			<div class="card-level-type m-3">
				<small class="text-muted">
					{{ challenge.date| date("d/m/Y")}}
				</small>
				<p class="card-type ">{{ challenge.type.name }}</p>
			</div>
			<div class="m-2">
				<h4 class="text-light me-2">Objectif du challenge :</h4>
				<p class="text-light">
					{{ challenge.description }}</p>
			</div>

		</div>
	</main>
	<section class="m-5">
		<div>
			<h4 class="text-dark me-2">Espace commentaire :</h4>
			<div class="comments">
				{% for comment in challenge.comments %}
					<div class="card m-3">
						<div class="card-body">
							{{ comment.message}}
						</div>
						<div class="text-secondary m-3">
							{{ comment.author.username }}
							-
							{{ comment.createdAt|date('d/m/y') }}
						</div>
						{% if is_granted('ROLE_USER') and app.user == comment.author %}
							{% include "comment/_delete_form.html.twig" %}
						{% endif %}
					</div>
				{% endfor %}
				{% if is_granted('ROLE_USER') %}
					{{ form_start(form) }}
					{{ form_widget(form) }}
					<button class="btn btn-primary">Publier</button>
					{{ form_end(form) }}
				{% endif %}
			</div>
		</div>
	</section>


{% endblock %}
