{% block stylesheets %}
	{{ encore_entry_link_tags('card') }}
{% endblock %}

<div class="card">
	<div
		class="card-image card-img-top">
		{# {% for language in challenge.languages %} #}
		<img
		src="{{ asset(challenge.image) }}" alt="">
		{# {% endfor %} #}
		<div class="card-level-type m-1">
			<div id="tooltip">
				<span id="tooltipText">{{ challenge.level.name }}</span>
				<span class="card-level-color" style="background-color: {{challenge.level.color}}"></span>
			</div>
			<time class="card-date">{{challenge.date| date("d/m/Y")}}</time>
			<p class="card-type ">{{ challenge.type.name }}</p>
		</div>
		<div class="card-title text-center">
			<h3>{{ challenge.name }}</h3>
		</div>
	</div>
	<div class="card-body">

		<div class="card-catchPhrase">
			<p>{# {{ challenge.catchPhrase }} #}Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam labore id nostrum ipsa sit inventore dignissimos, pariatur culpa nobis harum velit at a laboriosam, voluptatibus odit eius temporibus libero consequatur.</p>
		</div>
	</div>
	{% if app.user %}
	<div class="d-flex justify-content-center p-1">
		<a href="#" class="btn btn-secondary text-light ">
			Voir le détail
		</a>
	</div>
	{% else %}
	<div class="d-flex justify-content-center p-1">
		<a href=" {{ path('login') }}" class="btn btn-secondary text-light ">
			Voir le détail
		</a>
	</div>
	{% endif %}
</div>
