{{ form_start(form, {attr: {class: 'filter js-filter-form'}}) }}

     {{ form_row(form.sendSearch) }}  
    <h4 class='text-center'>Type de challenge</h4>
    {{ form_row(form.types) }}
    <h4 class="text-center">Niveau de challenge</h4>
    {{form_row(form.levels)}}
    <h4 class="text-center">Choisis ton language</h4>
    {{form_row(form.languages)}}

    <button type='submit' class='btn btn-primary w-100'>Filtrer</button>

{{ form_end(form) }}